EItools/data/
EItools/extract/data_path_save/*/results/*

**/__pycache__/**

.idea/

EItools/log/debug.*
EItools/crawler/celerybeat*


EItools/media/file/*

EItools/temp/*.txt
EItools/temp/*.json
EItools/extract/data_path/*data*
EItools/temp/result/*

*results/*
*test*

*db.sqlite3*

*.swp


[http]
postBuffer = 524288000